{{ define "body" }}
	<a href="/new"><span class="glyphicon glyphicon-plus"></span> Post a new job</a>

	<h2>Job listings</h2>

	<ul>
	{{ range . }}
		<li>
			<a href="/jobs/{{ .ID }}">{{.Title}}</a> at {{ .Company }}
		</li>
	{{ end }}
	</ul>
{{ end }}
